# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
# .env
# .venv
# env/
# venv/
# ENV/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Large data files
# *.csv
# *.tsv
# *.zip
# *.tar
# *.gz
# *.7z
# *.rar

# Model files


# Logs & outputs
*.log
*.out
*.tmp
*.swp

# OS-specific files
.DS_Store
Thumbs.db
